p{
    color : red;
    font-size: 100px;
    background-color: green;
}

h1,h3{
    background-color: red;
    color : yellow
}

h3{
    border: 4px solid black;
    margin : 100px 20px;
    padding: 20px 10px;
}

img{
    height: 200px;
    width: 100px;
}

a{
   text-decoration: none;
}

h4{
    border-bottom: 2px solid red;
} 

span{
    font-weight: 900;
    font-style: italic
}